{"openapi":"3.0.0","info":{"title":"Auto Drive API","version":"1.0.0","description":"API for Auto Drive"},"servers":[{"url":"https://mainnet.auto-drive.autonomys.xyz/api","description":"Mainnet"},{"url":"https://demo.auto-drive.autonomys.xyz/api","description":"Testnet"}],"paths":{"/subscriptions/@me":{"get":{"summary":"Get current user subscription information","tags":["Subscriptions"],"responses":{"200":{"description":"Successfully retrieved subscription information","content":{"application/json":{"schema":{"type":"object","properties":{"subscription":{"$ref":"#/components/schemas/SubscriptionInfo"}},"required":["id","organizationId","uploadLimit","downloadLimit","granularity","pendingUploadCredits","pendingDownloadCredits"]}}}},"401":{"description":"Unauthorized"},"500":{"description":"Failed to get user info"}}}},"/uploads/file":{"post":{"summary":"Upload a file","tags":["Uploads"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"filename":{"type":"string"},"mimeType":{"type":"string"},"uploadOptions":{"$ref":"#/components/schemas/UploadOptions"}},"required":["filename"]}}}},"responses":{"200":{"description":"File uploaded successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}}}}}},"400":{"description":"Invalid input"},"500":{"description":"Failed to create upload"}}}},"/uploads/folder":{"post":{"summary":"Create a new folder upload","tags":["Uploads"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"fileTree":{"$ref":"#/components/schemas/FolderTree"},"uploadOptions":{"$ref":"#/components/schemas/UploadOptions"}},"required":["fileTree"]}}}},"responses":{"200":{"description":"Folder created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}}}}}},"400":{"description":"Invalid input"},"500":{"description":"Failed to create upload"}}}},"/uploads/folder/{folderUploadId}/file":{"post":{"summary":"Create a file in a folder provided by the folder upload id","tags":["Uploads"],"parameters":[{"name":"folderUploadId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the file"},"mimeType":{"type":"string","description":"The mime type of the file"},"relativeId":{"type":"string","description":"The id of the uploaded file within the file tree"},"uploadOptions":{"$ref":"#/components/schemas/UploadOptions"}},"required":["name","relativeId"]}}}},"responses":{"200":{"description":"File created in folder successfully"},"400":{"description":"Invalid input"},"500":{"description":"Failed to create file in folder"}}}},"/uploads/file/{uploadId}/chunk":{"post":{"summary":"Upload a chunk of a file","tags":["Uploads"],"parameters":[{"name":"uploadId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"index":{"type":"integer"}},"required":["file","index"]}}}},"responses":{"200":{"description":"Chunk uploaded successfully"},"400":{"description":"Invalid input"},"500":{"description":"Failed to upload chunk"}}}},"/uploads/file/{uploadId}/complete":{"post":{"summary":"Complete the upload returning the file CID","tags":["Uploads"],"parameters":[{"name":"uploadId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Upload completed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"cid":{"type":"string"}}}}}},"500":{"description":"Failed to complete upload"}}}},"/objects/roots":{"get":{"summary":"Get root objects","tags":["Objects"],"parameters":[{"name":"scope","in":"query","required":false,"schema":{"type":"string","enum":["global","user"]}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successfully retrieved root objects","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ObjectSummary"}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Failed to retrieve root objects"}}}},"/objects/roots/shared":{"get":{"summary":"Get shared root objects","tags":["Objects"],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successfully retrieved shared root objects","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ObjectSummary"}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Failed to retrieve shared root objects"}}}},"/objects/roots/deleted":{"get":{"summary":"Get deleted root objects","tags":["Objects"],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successfully retrieved deleted root objects","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ObjectSummary"}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Failed to retrieve deleted root objects"}}}},"/objects/search":{"get":{"summary":"Search for objects by CID or name","tags":["Objects"],"parameters":[{"name":"cid","description":"The CID or name of the object to search for","in":"query","required":true,"schema":{"type":"string"}},{"name":"scope","description":"The scope of the search","in":"query","required":false,"schema":{"type":"string","enum":["user","global"]}},{"name":"limit","description":"The maximum number of results to return","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successfully retrieved search results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ObjectSearchResult"}}}}},"400":{"description":"Missing or invalid cid value"},"500":{"description":"Failed to search metadata"}}}},"/objects/{cid}/summary":{"get":{"summary":"Get summary of an object by CID","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved object summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectSummary"}}}},"404":{"description":"Metadata not found"},"500":{"description":"Failed to retrieve metadata"}}}},"/objects/{cid}/metadata":{"get":{"summary":"Get metadata of an object by CID","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved object metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffchainMetadata"}}}},"404":{"description":"Metadata not found"},"500":{"description":"Failed to retrieve metadata"}}}},"/objects/{cid}/status":{"get":{"summary":"Get upload status of an object by CID","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved upload status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadStatus"}}}},"500":{"description":"Failed to retrieve upload status"}}}},"/objects/{cid}/share":{"post":{"summary":"Share an object by CID","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"publicId":{"type":"string"}},"required":["publicId"]}}}},"responses":{"200":{"description":"Successfully shared object"},"400":{"description":"Missing `publicId` in request body"},"401":{"description":"Unauthorized"},"500":{"description":"Failed to share object"}}}},"/objects/{cid}/download":{"get":{"summary":"Download an object by CID","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved object for download","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Metadata not found"},"500":{"description":"Failed to retrieve data"}}}},"/objects/{cid}/delete":{"post":{"summary":"Delete an object by CID","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted object"},"401":{"description":"Unauthorized"},"500":{"description":"Failed to delete object"}}}},"/objects/{cid}/restore":{"post":{"summary":"Restore a deleted object by CID","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully restored object"},"401":{"description":"Unauthorized"},"500":{"description":"Failed to restore object"}}}},"/objects/{cid}/publish":{"post":{"summary":"Publish an object by CID and return the object id","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully published object","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Failed to publish object"}}}},"/objects/{cid}/unpublish":{"post":{"summary":"Unpublish an object by CID","tags":["Objects"],"parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Successfully unpublished object"},"401":{"description":"Unauthorized"},"500":{"description":"Failed to unpublish object"}}}},"/objects/{id}/public":{"get":{"summary":"Download a published object by id","tags":["Objects"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved object for download","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Published object not found"},"500":{"description":"Failed to retrieve data"}}}}},"security":[{"apiKey":[],"provider":[]}],"components":{"schemas":{"FolderTreeFolder":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["folder","file"]},"children":{"$ref":"#/components/schemas/FolderTree"}}},"FolderTreeFile":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["file"]},"id":{"type":"string"}}},"FolderTree":{"oneOf":[{"$ref":"#/components/schemas/FolderTreeFolder"},{"$ref":"#/components/schemas/FolderTreeFile"}]},"ObjectSummary":{"type":"object","properties":{"headCid":{"type":"string"},"name":{"type":"string","nullable":true},"size":{"type":"string"},"owners":{"type":"array","items":{"type":"object","properties":{"oauthProvider":{"type":"string"},"oauthUserId":{"type":"string"},"role":{"type":"string","enum":["admin","viewer"]}}}},"uploadStatus":{"$ref":"#/components/schemas/UploadStatus"},"createdAt":{"type":"string","format":"iso8601"},"type":{"type":"string","enum":["file","folder"]},"mimeType":{"type":"string","nullable":true},"children":{"type":"array","items":{"type":"object"},"nullable":true}},"required":["headCid","size","owners","uploadStatus","createdAt","type"]},"ObjectSearchResult":{"type":"object","properties":{"cid":{"type":"string"},"name":{"type":"string"}},"required":["cid","name"]},"OffchainMetadata":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OffchainFileMetadata"},{"$ref":"#/components/schemas/OffchainFolderMetadata"}]},"OffchainFileMetadata":{"type":"object","properties":{"type":{"type":"string","enum":["file"]},"dataCid":{"type":"string"},"name":{"type":"string","nullable":true},"mimeType":{"type":"string","nullable":true},"totalSize":{"type":"string"},"totalChunks":{"type":"integer"},"chunks":{"type":"array","items":{"$ref":"#/components/schemas/ChunkInfo"}},"uploadOptions":{"$ref":"#/components/schemas/UploadOptions"}}},"ChunkInfo":{"type":"object","properties":{"size":{"type":"string"},"cid":{"type":"string"}}},"OffchainFolderMetadata":{"type":"object","properties":{"type":{"type":"string","enum":["folder"]},"dataCid":{"type":"string"},"name":{"type":"string","nullable":true},"totalSize":{"type":"string"},"totalFiles":{"type":"integer"},"children":{"type":"array","items":{"$ref":"#/components/schemas/ChildrenMetadata"}},"uploadOptions":{"$ref":"#/components/schemas/UploadOptions"}}},"ChildrenMetadata":{"type":"object","properties":{"type":{"type":"string","enum":["file","folder"]},"cid":{"type":"string"},"name":{"type":"string","nullable":true},"totalSize":{"type":"string"}},"required":["type","cid","totalSize"]},"UploadStatus":{"type":"object","properties":{"uploadedNodes":{"type":"integer","nullable":true},"totalNodes":{"type":"integer","nullable":true},"archivedNodes":{"type":"integer","nullable":true},"minimumBlockDepth":{"type":"integer","nullable":true},"maximumBlockDepth":{"type":"integer","nullable":true}}},"UploadOptions":{"type":"object","properties":{"compression":{"$ref":"#/components/schemas/CompressionOptions"},"encryption":{"$ref":"#/components/schemas/EncryptionOptions"}}},"CompressionOptions":{"type":"object","properties":{"algorithm":{"type":"string","enum":["ZLIB"]},"level":{"type":"integer","default":8}}},"EncryptionOptions":{"type":"object","properties":{"algorithm":{"type":"string","enum":["AES_256_GCM"]},"chunkSize":{"type":"integer","default":1024}}},"SubscriptionInfo":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"uploadLimit":{"type":"number"},"downloadLimit":{"type":"number"},"granularity":{"type":"string","enum":["monthly"]},"pendingUploadCredits":{"type":"number"},"pendingDownloadCredits":{"type":"number"}},"required":["id","organizationId","uploadLimit","downloadLimit","granularity","pendingUploadCredits","pendingDownloadCredits"]}},"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"Authorization","description":"Bearer token for authentication. Example: Bearer <token>. Could be either an API key or a JWT token."},"provider":{"type":"apiKey","in":"header","name":"X-Auth-Provider","description":"Used for differentiating between different auth providers. For most use cases: X-Auth-Provider: apikey"}}}}